@media only screen and (max-width: 768px) {
      /* Navigation Bar */
    
      .navbar-brand img {
        max-width: 100%;
        cursor: pointer;
        width: 120px;
      }
      
      /* Hamburger Icon */

      .hamburger-icon {
        display: block;
      }
    
      #menu-toggle:checked + .hamburger-icon + .right ul {
        display: block;
        position: absolute;
        top: 60px;
        right: 5%;
        background-color: #171717;
        padding: 10px;
        border-radius: 5px;
      }
    
      .right ul li {
        display: block;
        margin-bottom: 10px;
      }
    
      .navbar-toggler {
        display: block;
      }
    
      .navbar-collapse {
        display: none;
      }
    
      .navbar-collapse.show {
        display: block;
      }
    
      /* Swiper */
    
      .swiper-slide .image .black {
        height: 100%;
      }
    
      .swiper-slide .image .black h1 {
        font-size: 24px;
      }
    
      .swiper-slide .image .black p {
        width: 80%;
        font-size: 14px;
        line-height: 20px;
      }
    
      .swiper-slide .image .black .watch {
        width: 100%;
        flex-direction: row;
      }
    
      .swiper-slide .image .black .watch i {
        margin-bottom: 10px;
      }

      /* Cards Section */

      .card{
            max-width: 80%;
            margin-bottom: 50px;

      }

      .card-section .row h2{
            font-size: 2rem;
            font-weight: bold;
            text-align: center;
      
      }


}

    
    
